@import '../../scss/global.scss';

.quests-container {
    height: 100%;

    background-color: $main-bg-block; 
    border-radius: $main-border-radius-block;

    margin-top: 5px;
    padding: 8px;
}