.container-health-bar {
  width: 240px;
}

.health-bar-img {
  z-index: 2;
}

.health-bar {
  background: #171027;
  height: 27px;
  border-radius: 4px;
  border: 1px solid #B28E4C;
  margin-left: -15px;
  padding: 2px;
}

.health-fill {
  background-color: #365D4C;
  border-radius: 2px;
  overflow: hidden;
}

.health-text {
  color: #B0B0B0;
  font-size: 16px;
  width: 80%;
  justify-content: center;
  display: flex;
  position: absolute;
}